body {
	padding: 0;
	margin: 0;
	font-family: 'Lora';
	background: #DAFCD2;
	/*background: #DAFCD2;*/
}

.container {
	/*width: 10vw;*/
	margin: 0 auto; /*позиционирование по центру*/
	display: flex;
}
header a {
	color: #0B2806;
	text-decoration: none; /*убираем подчеркивание*/
	font-size: 2vw;
	margin: 0 auto;
}
.nav {
	/*width: 100vw;*/
	height: 2.5vw;
	margin-top: 2.1vw;
	padding-left: 51.4vw;
	margin-bottom: 2.1vw;
}
.hat {
	background: url('../img/hat.jpg') no-repeat center top / cover;
	/*width: 100vw;*/ 
	height: 40vw;
	margin: 0 auto;
}
.hat h1 {
	font-size: 5.4vw;
	color: #DAFCD2;
	font-style: normal;
	font-weight: normal;
	margin-top: 4.4vw;
	margin-left: 8.1vw;
}
.btn {
	display: block; /*показывает элемент как блочный*/
	text-align: center;
	margin: 0 auto;
	margin-top: 4.8vw;
	background: #FFF;
	width: 91.6vw;
	height: 6.9vw;
}

.btn a {
	font-size: 5vw;
	color: #0B2806;
	text-decoration: none;
	margin: 0 auto;
}

.btne {
	display: block; /*показывает элемент как блочный*/
	text-align: center;
	margin: 0 auto;
	margin-top: 4.8vw;
	background: #FFF;
	width: 91.6vw;
	height: 14vw;
}

.btne a {
	font-size: 5vw;
	color: #0B2806;
	text-decoration: none;
	margin: 0 auto;

}

.description {
	display: block;
	text-align: center;
	background: #FFF; 
	width: 51.4vw;
	/*height: 982px;*/
	margin-top: 5.7vw;
	margin-left: 7.1vw;
	padding-top: 5.6vw;
}
.description a {
	text-decoration: none;
	font-size: 2vw;
	color: #0B2806;

}
.description h3 {
	font-size: 1.4vw;
	color: #565656;
	text-align: right;
	padding-right: 53px;
}

.ad {
	display: block;
	text-align: center;
	width: 28.1vw;
	height: 37.3vw;
	margin-top: 5.7vw;
	margin-left: 7.8vw;
}
.ad a {

}
.ad img {
	width: 25vw;
}
.ad h3 {
	font-size: 1.4vw;
	color: #0B2806;
}
.footer p{
	padding-top: 13.1vw;
}